params {
    // Base directory for test data
    test_data_msk_base = "https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets"

    test_data_msk {
        'rawfastq' {
            fastq_1                                            = "${params.test_data_msk_base}/master/raw_fastq/Sample1-T2_L001_R1_001.fastq.gz"
            fastq_2                                            = "${params.test_data_msk_base}/master/raw_fastq/Sample1-T2_L002_R1_001.fastq.gz"
            fastq_no_lane                                      = "${params.test_data_msk_base}/master/raw_fastq/Sample1-T2_R2_001.fastq.gz"
        }
    }
}
